<h1>This Is Editing</h1>
<%= form_with(model: @user, local: true) do |f| %>
  <div class = "new-form">
      <%= f.label "Name" %>
      <%= f.text_field :name %>
      <%= f.label "Email" %>
      <%= f.email_field :email %>
      <%= f.label "Picture" %>
      <%= f.file_field :image %>
      <%= f.label "You!Info" %>
      <%= f.text_area :content %>
      <%= f.label "Password" %>
      <%= f.password_field :password %>
      <%= f.label "Look!Now!" %>
      <%= f.password_field :password_confirmation %>
  </div>
  <%= f.submit "Go!Edit!", class: "send"%>
<% end %>
