<br>
<br>
<br>
<h1>My account</h1>
<br>
<br>
<br>
<h3><%= @user.name %><%= @user.email %></h3>
<h1>Name<%= @user.name%></h1>
<p>Email<%= @user.email %></p>
<p>Picture<%= image_tag(@user.image.url) if @user.image && @user.image.url %></p>
<%= link_to "Go!Edit!", edit_user_path %>
<%= link_to "Post", pictures_path %>
