<h1>Posts list</h1>

<table>
  <thead>
    <tr>
      <th>Contents</th>
      <th>Account</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody align="center">
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.content %></td>
        <td><%= picture.user.name %></td>
        <td><%= image_tag picture.image.url, class: "img" %></td>
        <td><%= link_to 'Info', picture_path(picture.id) %></td>
        <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
        <td><%= link_to 'Delete', picture_path(picture.id), method: :delete, data: { confirm: '削除していいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_picture_path %>
